.auth-container {
  width: 350px;
  margin: 100px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  text-align: center;
}

.auth-container input, select {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.auth-container button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}
